<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Sbo:ServerName" value="PC-FABVAS"/>
    <add key="Sbo:ServerType" value="MSSQL2014"/>
    <add key="Sbo:CompanyDb" value="SBODemoIT"/>
    <add key="Sbo:DbUsername" value="sa"/>
    <add key="Sbo:DbPassword" value="sapb1-vm"/>
    <add key="Sbo:Username" value="manager"/>
    <add key="Sbo:Password" value=""/>
    <add key="Sbo:LicenceService" value=""/>
  </appSettings>
</configuration>